{% comment %}
  Renders icon with text block

  Accepts:
  - block: {Object} passes in the block information.


  Usage:
  {% render 'icon-with-text',
    block: block
  %}
{% endcomment %}
{%- liquid
  if block.settings.is_dynamic_icons
    assign icon_box = product.metafields.custom.icon_box.value
    assign text_only_all_items = true
    if icon_box.value > 0
      assign text_only_all_items = false
    endif
  else
    assign has_heading_1 = false
    assign has_heading_2 = false
    assign has_heading_3 = false
    assign text_only_all_items = true

    if block.settings.heading_1 == empty
      assign has_heading_1 = true
    endif

    if block.settings.heading_2 == empty
      assign has_heading_2 = true
    endif

    if block.settings.heading_3 == empty
      assign has_heading_3 = true
    endif

    if has_heading_1 == false and block.settings.icon_1 != 'none' or block.settings.image_1 != null
      assign text_only_all_items = false
    elsif has_heading_2 == false and block.settings.icon_2 != 'none' or block.settings.image_2 != null
      assign text_only_all_items = false
    elsif has_heading_3 == false and block.settings.icon_3 != 'none' or block.settings.image_3 != null
      assign text_only_all_items = false
    endif
  endif
-%}
{% if block.settings.is_dynamic_icons %}
  <ul class="icon-with-text text-gray-dark small-caption icon-with-text--{{ block.settings.layout }} list-unstyled{% if text_only_all_items %} icon-with-text--text-only{% endif %}" {{ block.shopify_attributes }}>
    {% for icon_text in icon_box %}
      {% assign has_heading_1 = icon_text.title %}
      {%- if has_heading_1 -%}
        <li class="icon-with-text__item ps-0 mb-0">
          {%- if icon_text.link != blank -%}
            <a href="{{ icon_text.link }}" class="text-center" target="_blank">
          {%- endif -%}
          {%- if icon_text.icon == null -%}
            {%- render 'icon-accordion', icon: icon_text.icon_1 -%}
          {%- else -%}
          {{ icon_text.icon | image_url: width: auto | image_tag }}
            {% comment %} <img src="{{ icon_text.icon | image_url }}"
              {% if icon_text.icon.alt != blank %}
                alt="{{ icon_text.icon.alt | escape }}"
              {% else %}
                role="presentation"
              {% endif %}
              height="auto"
              width="auto"
              loading="lazy"> {% endcomment %}
          {%- endif -%}
          <span class="text-small inline-richtext px-md-6 d-block text-center">
            {{- icon_text.title -}}
          </span>
          {%- if icon_text.link != blank -%}
            </a>
          {%- endif -%}
        </li>
      {%- endif -%}
    {% endfor %}
  </ul>
{% else %}
  <ul class="icon-with-text icon-with-text--{{ block.settings.layout }} list-unstyled{% if text_only_all_items %} icon-with-text--text-only{% endif %}" {{ block.shopify_attributes }}>
    {%- unless has_heading_1 -%}
      <li class="icon-with-text__item ps-0 mb-0">
        {%- if block.settings.link_1 != blank -%}
          <a href="{{ block.settings.link_1 }}" class="text-center">
        {%- endif -%}
        {%- if block.settings.image_1 == null -%}
          {%- render 'icon-accordion', icon: block.settings.icon_1 -%}
        {%- else -%}
          <img src="{{ block.settings.image_1 | image_url }}"
            {% if block.settings.image_1.alt != blank %}
              alt="{{ block.settings.image_1.alt | escape }}"
            {% else %}
              role="presentation"
            {% endif %}
            height="auto"
            width="auto"
            loading="lazy">
        {%- endif -%}
        <span class="text-small inline-richtext px-md-6 d-block text-center">
          {{- block.settings.heading_1 -}}
        </span>
        {%- if block.settings.link_1 != blank -%}
          </a>
        {%- endif -%}
      </li>
    {%- endunless -%}
    {%- unless has_heading_2 -%}
      <li class="icon-with-text__item ps-0 mb-0">
        {%- if block.settings.link_2 != blank -%}
          <a
            href="{{ block.settings.link_2 }}"
          >
        {%- endif -%}
        {%- if block.settings.image_2 == null -%}
          {% render 'icon-accordion', icon: block.settings.icon_2 -%}
        {%- else -%}
          <img
            src="{{ block.settings.image_2 | image_url }}"
            {% if block.settings.image_2.alt != blank %}
              alt="{{ block.settings.image_2.alt | escape }}"
            {% else %}
              role="presentation"
            {% endif %}
            height="auto"
            width="auto"
            loading="lazy"
          >
        {%- endif -%}
        <span class="text-small inline-richtext px-md-6 d-block text-center">
          {{- block.settings.heading_2 -}}
        </span>
        {%- if block.settings.link_2 != blank -%}
          </a>
        {%- endif -%}
      </li>
    {%- endunless -%}
    {%- unless has_heading_3 -%}
      <li class="icon-with-text__item ps-0 mb-0">
        {%- if block.settings.link_3 != blank -%}
          <a
            href="{{ block.settings.link_3 }}"
          >
        {%- endif -%}
        {%- if block.settings.image_3 == null -%}
          {% render 'icon-accordion', icon: block.settings.icon_3 -%}
        {%- else -%}
          <img
            src="{{ block.settings.image_3 | image_url }}"
            {% if block.settings.image_3.alt != blank %}
              alt="{{ block.settings.image_3.alt | escape }}"
            {% else %}
              role="presentation"
            {% endif %}
            height="auto"
            width="auto"
            loading="lazy"
          >
        {%- endif -%}
        <span class="text-small inline-richtext px-md-6 d-block text-center">
          {{- block.settings.heading_3 -}}
        </span>
        {%- if block.settings.link_3 != blank -%}
          </a>
        {%- endif -%}
      </li>
    {%- endunless -%}
  </ul>
{% endif %}
