{{ 'ni_ecomm_features.min.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #shopify-section-{{ section.id }} .m-ecomm-features__wrapper {
    padding-top: {{ section.settings.padding_top_mobile | times: 0.0625 }}rem;
    padding-bottom: {{ section.settings.padding_bottom_mobile | times: 0.0625 }}rem;
  }

  @media (min-width: 768px){
    #shopify-section-{{ section.id }} .m-ecomm-features__wrapper {
      padding-top: {{ section.settings.padding_top_tablet | times: 0.0625 }}rem;
      padding-bottom: {{ section.settings.padding_bottom_tablet | times: 0.0625 }}rem;
    }
  }

  @media (min-width: 1025px){
    #shopify-section-{{ section.id }} .m-ecomm-features__wrapper {
      padding-top: {{ section.settings.padding_top_desktop | times: 0.0625 }}rem;
      padding-bottom: {{ section.settings.padding_bottom_desktop | times: 0.0625 }}rem;
    }
  }
{%- endstyle -%}

<div class="m-ecomm-features__wrapper m-ecomm-features-slider overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="m-ecomm-features__container d-flex flex-column gap-20 gap-md-35 px-lg-13">
          {% if section.settings.section_title != blank %}
            <{{ section.settings.section_title_tag }} class="m-ecomm-features__title h3 mb-0 text-center text-secondary px-lg-11 px-xl-0">
              {{ section.settings.section_title | newline_to_br }}
            </{{ section.settings.section_title_tag }}>
          {% endif %}

          <div class="m-ecomm-features__slider-container mx-lg-n5 mx-xl-0">
            <div class="m-ecomm-features__slider-js py-8 px-8 px-lg-0 px-xl-8 m-n8">
              <div class="swiper-wrapper">
                {% for block in section.blocks %}
                  {%- case block.type -%}
                    {%- when 'ecomm_feature' -%}
                      <div class="swiper-slide h-auto">
                        <div class="c-ecomm-feature d-flex flex-column bg-white text-secondary text-lg-center h-100">
                          {% if block.settings.feature_image != blank %}
                            <picture class="c-ecomm-feature__picture">
                              <img
                                srcset="
                                  {%- if block.settings.feature_image.width >= 375 -%}{{ block.settings.feature_image | image_url: width: 375 }} 375w,{%- endif -%}
                                  {%- if block.settings.feature_image.width >= 550 -%}{{ block.settings.feature_image | image_url: width: 550 }} 550w,{%- endif -%}
                                  {%- if block.settings.feature_image.width >= 750 -%}{{ block.settings.feature_image | image_url: width: 750 }} 750w,{%- endif -%}
                                  {{ block.settings.feature_image | image_url }} {{ block.settings.feature_image.width }}w
                                "
                                src="{{ block.settings.feature_image | image_url: width: 600 }}"
                                alt="{{ block.settings.feature_image.alt | default: shop.name }}"
                                loading="lazy"
                                data-src="{{ block.settings.feature_image | image_url }}"
                                data-widths="[540, 720]"
                                data-aspectratio="{{ block.settings.feature_image.aspect_ratio }}"
                                data-sizes="auto"
                                data-parent-fit="cover"
                                width="{{ block.settings.feature_image.width }}"
                                height="{{ block.settings.feature_image.width | divided_by: block.settings.feature_image.aspect_ratio | round }}"
                                class="h-auto object-fit-cover"
                              >
                            </picture>
                          {% endif %}
                          <div class="c-ecomm-feature__content d-flex flex-column gap-4">
                            {% if block.settings.feature_title != blank %}
                              <{{ block.settings.feature_title_tag }} class="c-ecomm-feature__title h4 m-0">
                                {{ block.settings.feature_title | newline_to_br }}
                              </{{ block.settings.feature_title_tag }}>
                            {% endif %}
                            {% if block.settings.feature_description != blank %}
                              <div class="c-ecomm-feature__description text-body-primary">
                                {{ block.settings.feature_description | newline_to_br }}
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                  {%- endcase -%}
                {% endfor %}
              </div>
              {% for block in section.blocks %}
                {%- case block.type -%}
                  {%- when 'ecomm_feature' -%}
                    {% assign ecomm_feature_count = ecomm_feature_count | plus: 1 %}
                {% endcase %}
              {% endfor %}
              <div class="m-ecomm-features__slider-buttons mt-8 d-flex column-gap-1 {% if ecomm_feature_count > 4 %}d-lg-flex column-gap-3 {% else %}d-lg-none{% endif %}">
                <div class="btn-arrow swiper-button-prev">
                  {% render 'icon-list', svg: 'arrow-left-line' %}
                </div>
                <div class="swiper-button-next btn-arrow">
                  {% render 'icon-list', svg: 'arrow-right-line' %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% javascript %}
  let paymentSolutionSlider = document.querySelectorAll('.m-ecomm-features-slider');

  paymentSolutionSlider.forEach((element) => {
    let paymentSlider = new Swiper('.m-ecomm-features__slider-js', {
      slidesPerView: 1.3295,
      spaceBetween: 16,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        768: {
          slidesPerView: 2.4,
        },
        990: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
        1025: {
          slidesPerView: 4,
          spaceBetween: 16,
        },
      },
    });
    function setEqualCardHeights() {
      const cards = document.querySelectorAll('.c-ecomm-feature__front-content');
      let maxHeight = 0;

      cards.forEach((card) => {
        card.style.height = 'auto';
      });

      cards.forEach((card) => {
        maxHeight = Math.max(maxHeight, card.offsetHeight);
      });

      cards.forEach((card) => {
        card.style.minHeight = `${maxHeight}px`;
      });
    }

    function debounce(func, delay) {
      let timeout;
      return function () {
        clearTimeout(timeout);
        timeout = setTimeout(func, delay);
      };
    }
    setEqualCardHeights();
    window.addEventListener('resize', debounce(setEqualCardHeights, 200));
  });
{% endjavascript %}

{% schema %}
{
  "name": "Ecomm Features",
  "tag": "section",
  "class": "m-ecomm-features",
  "settings": [
    {
      "type": "header",
      "content": "SECTION TITLE SETTINGS"
    },
    {
      "type": "textarea",
      "id": "section_title",
      "label": "Title",
      "default": "Over 30% of online shoppers abandon their carts due to poor checkout experiences. With N-Genius Online, you can transform online shopping into a simple and easy process."
    },
    {
      "type": "select",
      "id": "section_title_tag",
      "label": "Heading Tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        }
      ],
      "default": "h2"
    },
    {
      "type": "header",
      "content": "SECTION SPACING SETTINGS"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Desktop",
      "default": 104
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Desktop",
      "default": 172
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Tablet",
      "default": 104
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Tablet",
      "default": 68
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 82
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 108
    }
  ],
  "blocks": [
    {
      "type": "ecomm_feature",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "feature_image",
          "label": "Feature Image"
        },
        {
          "type": "textarea",
          "id": "feature_title",
          "label": "Feature Title",
          "default": "Flexible payment options"
        },
        {
          "type": "select",
          "id": "feature_title_tag",
          "label": "Feature Heading Tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            }
          ],
          "default": "h4"
        },
        {
          "type": "richtext",
          "id": "feature_description",
          "label": "Feature Description",
          "default": "<p>Accept leading credit cards and alternative payment methods.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ecomm Features",
      "blocks": [
        {
          "type": "ecomm_feature"
        },
        {
          "type": "ecomm_feature"
        },
        {
          "type": "ecomm_feature"
        },
        {
          "type": "ecomm_feature"
        }
      ]
    }
  ]
}
{% endschema %}
